<h1>New log</h1>

<% form_for(@log) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :tuner %>
    <%= collection_select(:log, :tuner_id, Tuner.all(:order => 'tuner_id'), :id, :name) %>
  </p>
  <p>
    <%= f.label :station %>
    <%= collection_select(:log, :station_id, Station.all(:order => 'callsign'), :id, :callsign) %>
  </p>
  <p>
    <%= f.label :signal_strength %>
    <%= f.text_field :signal_strength, :size => 4, :max_size => 4 %>
  </p>
  <p>
    <%= f.label :signal_to_noise %>
    <%= f.text_field :signal_to_noise, :size => 4, :max_size => 4 %>
  </p>
  <p>
    <%= f.label :signal_quality %>
    <%= f.text_field :signal_quality, :size => 4, :max_size => 4 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', logs_path %>