<% title 'New Time Interval' %>

<% form_for(@time_interval) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.select :unit, options_for_select(@options) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', time_intervals_path %>