<h1>Editing time_interval</h1>

<% form_for(@time_interval) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @time_interval %> |
<%= link_to 'Back', time_intervals_path %>