<div id='top'>
<% form_tag request.request_uri do %>
	<%= hidden_field_tag 'location[latitude]', @map_location[:latitude] %>
	<%= hidden_field_tag 'location[longitude]', @map_location[:longitude] %>
	<%= hidden_field_tag 'zoom', @zoom %>
	<%= label_tag 'tuner_id', 'Tuner:' %>
	<%= collection_select(:tuner, :id, Tuner.all(:order => 'tuner_id'), :id, :name) %>
	<%= submit_tag 'Go' %>
<% end %>
</div>
<div id='content'>
	<div id='map-wrapper'><div id='map'></div></div>
	<div id='logs'>
		<ul id='logs-list'></ul>
	</div>
</div>