<div id='top'>
<% form_remote_tag :url => request.request_uri, :html => { :id => 'options_form' } do %>
	<%= label_tag 'tuner_id', 'Tuner:' %>
	<%= collection_select(:tuner, :id, Tuner.all(:order => 'tuner_id'), :id, :name) %>
	<%= label_tag 'time_interval_id', 'Interval:' %>
	<%= collection_select(:time_interval, :id, TimeInterval.all, :id, :description) %>
<% end %>
<%= observe_form :options_form, :function => 'removeMarkers(); addMarkers();' %>
</div>
<div id='content'>
	<div id='map-wrapper'><div id='map'></div></div>
	<div id='logs'>
		<ul id='logs-list'></ul>
	</div>
</div>