<h1>Listing stations</h1>

<table>
  <tr>
    <th>Tsid</th>
    <th>Callsign</th>
    <th>Parent callsign</th>
    <th>Rf</th>
    <th>Display</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Distance</th>
  </tr>

<% @stations.each do |station| %>
  <tr>
    <td><%=h station.tsid %></td>
    <td><%=h station.callsign %></td>
    <td><%=h station.parent_callsign %></td>
    <td><%=h station.rf %></td>
    <td><%=h station.display %></td>
    <td><%=h station.latitude %></td>
    <td><%=h station.longitude %></td>
    <td><%=h station.distance %></td>
    <td><%= link_to 'Show', station %></td>
    <td><%= link_to 'Edit', edit_station_path(station) %></td>
    <td><%= link_to 'Destroy', station, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />


<%= link_to 'Destroy All', { :action => 'destroy_all' } %> <%= link_to 'New station', new_station_path %>