<% title "Editing #{@station.callsign}" %>

<%= form_for(@station) do |f| %>
  <%= render 'shared/error_messages', :target => @station %>

  <p>
    <%= f.label :tsid %><br />
    <%= f.text_field :tsid %>
  </p>
  <p>
    <%= f.label :callsign %><br />
    <%= f.text_field :callsign %>
  </p>
  <p>
    <%= f.label :parent_callsign %><br />
    <%= f.text_field :parent_callsign %>
  </p>
  <p>
    <%= f.label :rf %><br />
    <%= f.text_field :rf %>
  </p>
  <p>
    <%= f.label :display %><br />
    <%= f.text_field :display %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>