<% title 'Tuners' %>

<ul id='tuners'>
<% @tuners.each do |tuner| %>
  <%= sortable_list_item tuner.full_name, tuner %>
<% end %>
</ul>

<% # sortable_element('tuners', :url => sort_tuners_path, :handle => 'handle')
 %>

<!--<% @tuners.each do |tuner| %>
  <tr>
    <td><%=h tuner.tuner_id %></td>
    <td><%=h tuner.tuner_number %></td>
    <td><%= link_to 'Show', tuner %></td>
    <td><%= link_to 'Edit', edit_tuner_path(tuner) %></td>
    <td><%= link_to 'Destroy', tuner, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
  </tr>
<% end %>-->

<br />

<%= link_to 'New tuner', new_tuner_path %>