<% title 'New Tuner' %>

<%= form_for(@tuner) do |tuner_form| %>
  <%= render 'shared/error_messages', :target => @tuner %>

  <p>
    <%= tuner_form.label :tuner_id %>
  <%= tuner_form.text_field :tuner_id %>
  </p>
  <p>
    <%= tuner_form.label :tuner_number %>
    <%= tuner_form.text_field :tuner_number %>
  </p>
  <%= tuner_form.fields_for @tuner.tuner_info.build do |info_form| %>
    <p>
      <%= info_form.label :info %><br />
      <%= info_form.text_area :info %>
    </p>
  <% end %>
  <p>
    <%= tuner_form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tuners_path %>