<% title "Tuner #{@tuner.full_name}" %>
<p>
  <b>Tuner:</b>
  <%=h @tuner.tuner_id %>
</p>

<p>
  <b>Tuner number:</b>
  <%=h @tuner.tuner_number %>
</p>


<%= link_to 'Edit', edit_tuner_path(@tuner) %> |
<%= link_to 'Destroy', @tuner, :data => { :confirm => 'Are you sure?' }, :method => :delete %> |
<%= link_to 'Back', tuners_path %>