<% title @tuner.name %>
<p>
  <b>Tuner:</b>
  <%=h @tuner.tuner_id %>
</p>

<p>
  <b>Tuner number:</b>
  <%=h @tuner.tuner_number %>
</p>

<p>
  <b>Latitude</b>
  <%=h @tuner.latitude %>
</p>

<p>
  <b>Longitude</b>
  <%=h @tuner.longitude %>
</p>

<p>
  <b>Info:</b>
  <div>
    <%=h @tuner.info %>
  </div>
</p>
<%= link_to 'Edit', edit_tuner_path(@tuner) %> |
<%= link_to 'Destroy', @tuner, :data => { :confirm => 'Are you sure?' }, :method => :delete %> |
<%= link_to 'Back', tuners_path %>
