<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'chart' %>
  
  <%= javascript_include_tag 'chart' %>
</head>
<body>
<h2><%= yield :title %></h2>
<%= yield %>
</body>
</html>
